diff a/drivers/clocksource/Kconfig b/drivers/clocksource/Kconfig	(rejected hunks)
@@ -158,6 +158,14 @@ config ARM_ARCH_TIMER_EVTSTREAM
 	  This must be disabled for hardware validation purposes to detect any
 	  hardware anomalies of missing events.
 
+config ARM_ARCH_TIMER_VCT_ACCESS
+	bool "Support for ARM architected timer virtual counter access in userspace"
+	default !ARM64
+	depends on ARM_ARCH_TIMER
+	help
+	  This option enables support for reading the ARM architected timer's
+	  virtual counter in userspace.
+
 config MSM_TIMER_LEAP
         bool "ARCH TIMER counter rollover"
         default n
