diff a/drivers/leds/Kconfig b/drivers/leds/Kconfig	(rejected hunks)
@@ -641,6 +641,13 @@ config LEDS_VERSATILE
 	help
 	  This option enabled support for the LEDs on the ARM Versatile
 	  and RealView boards. Say Y to enabled these.
+	  
+config LEDS_AW2015
+	tristate "LED Support for AW2015"
+	depends on LEDS_CLASS && I2C
+	help
+		this option enables support for the AW2015 RGB LED connected
+		through I2C. Say Y to enable support for the AW2015 LED
 
 config LEDS_QPNP_HAPTICS
 	tristate "Haptics support for QPNP PMIC"
