diff a/drivers/video/fbdev/msm/Kconfig b/drivers/video/fbdev/msm/Kconfig	(rejected hunks)
@@ -1,5 +1,8 @@
 source "drivers/video/fbdev/msm/msm_dba/Kconfig"
 
+# SW4-HL-Display-GlanceMode-00+_20170524
+source "drivers/video/fbdev/msm/fih/Kconfig"
+
 if FB_MSM
 
 config FB_MSM_MDSS_COMMON
@@ -122,4 +125,9 @@ config FB_MSM_MDSS_XLOG_DEBUG
 	driver during fatal errors and enable some display-driver logging
 	into an internal buffer (this avoids logging overhead).
 
+config PXLW_IRIS3
+	depends on FB_MSM_MDSS
+	bool "Enable pxlw iris3"
+	default y
+
 endif
