diff a/drivers/input/misc/Kconfig b/drivers/input/misc/Kconfig	(rejected hunks)
@@ -844,4 +844,10 @@ config INPUT_STMVL53L0
 	 To compile this driver as a module, choose M here: the
 	 module will be called stmvl53l0.
 
+config INPUT_AH1902
+       tristate "Diodes AH1902 support"
+       help
+         Say Y to enable support for the Diodes AH1902 Hall sensor driver.
+
+         source "drivers/input/misc/vl53L0/Kconfig"
 endif
