diff a/drivers/input/Kconfig b/drivers/input/Kconfig	(rejected hunks)
@@ -216,6 +216,8 @@ source "drivers/input/misc/Kconfig"
 
 source "drivers/input/sensors/bmi160/Kconfig"
 
+source "drivers/input/fingerprint/Kconfig"
+
 endif
 
 menu "Hardware I/O ports"
